{#继承基础模板#}
{% extends 'base.html' %}

{#title中不一样的部分，进行内容的显示#}
{% block title %}
    归档
{% endblock %}

{#博客正文部分#}
{% block content %}
    <div class="content-wrap">
        <div id="content" class="content">
            <section id="posts" class="posts-collapse">
                <span class="archive-move-on"></span>


                <div class="collection-title">
                    <h2 class="archive-year motion-element" id="archive-year-2017"
                        style="opacity: 1; display: block; transform: translateX(0px);">{{ tag_name }}|标签</h2>
                </div>

                {% for blog in tag_blogs.object_list %}

                    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
                             style="opacity: 1; display: block; transform: translateY(0px);">
                        <header class="post-header">

                            <h1 class="post-title">
                                <a class="post-title-link" href="http://www.geerniya.cn/blog/3/" itemprop="url">
                                    <span itemprop="name">{{ blog.title }}</span>
                                </a>
                            </h1>

                            <div class="post-meta">
                                <time class="post-time" itemprop="dateCreated" datetime="2017-09-01T20:05:18+08:00"
                                      content="2017-09-01">
                                    {{ blog.create_time|date:"m-d" }}
                                </time>
                            </div>

                        </header>
                    </article>
                {% endfor %}


            </section>


            <!--分页展示-->
            <nav class="pagination">
                <div class="pageturn">
                    <ul class="pagelist">

                        {% if all_blog.has_previous %}
                            <li class="long"><a href="?{{ all_blog.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}

                        {% for page in all_blog.pages %}
                            {% if page %}
                                {% ifequal page all_blog.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if all_blog.has_next %}
                            <li class="long"><a href="?{{ all_blog.next_page_number.querystring }}">下一页</a></li>
                        {% endif %}

                    </ul>
                </div>
            </nav>


        </div>

    </div>
{% endblock %}
